<div class="advantages">
  <div #stack class="advantages__stack">
    <div class="advantages__stack__card">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Praesent pulvinar porta orci, a facilisis sapien varius id.
        Donec pharetra nisl arcu, at suscipit ante viverra et.
        Nam eget venenatis justo.</p>
    </div>
    <div class="advantages__stack__card">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Praesent pulvinar porta orci, a facilisis sapien varius id.
        Donec pharetra nisl arcu, at suscipit ante viverra et.
        Nam eget venenatis justo.</p>
    </div>
    <div class="advantages__stack__card">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Praesent pulvinar porta orci, a facilisis sapien varius id.
        Donec pharetra nisl arcu, at suscipit ante viverra et.
        Nam eget venenatis justo.</p>
    </div>
    <div class="advantages__stack__card">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Praesent pulvinar porta orci, a facilisis sapien varius id.
        Donec pharetra nisl arcu, at suscipit ante viverra et.
        Nam eget venenatis justo.</p>
    </div>
  </div>
  <div class="advantages__actions">
    <a href="#" (click)="prev()">Prev</a>
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#" (click)="next()">Next</a>
  </div>
</div>
